Archivo cargado: <strong>{{ file }}</strong><br>
{% if errores|length > 0 %}
    <h1>ERRORES</h1>
    {% for linea, error in errores %}
    <h2>Línea {{linea}}</h2>
        {{dump(error)}}
    {% endfor %}
{% else %}
    <h1>No se han encontrado errores en el proceso de carga</h1>
{% endif %}
